.home
{
    background-image: url(../imgs/header-bg.jpg);
    background-size: 100% 100%;
    height: 100vh;
    text-align: center;
    color: white;
}
.caption
{
    height: 100%;
}
.layer
{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7)
}
.caption p
{
    width: 40%;
}
.caption a
{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
    text-transform: uppercase;
}
.caption a:hover
{
    background-color: white;
    color: black;
}
.navbar
{
    width: 100%;
}
.navbar .nav-item .nav-link
{
    color: white;
    transition: color 0.5s;
}
.navbar-nav li.active a
{
    color: tomato !important;
}
.navbar .nav-item .nav-link:hover
{
   color: tomato;
}

.typewriter:before{border-right:2px solid white;
    content:"";
    display: inline-block;
    overflow: hidden;
    font-size: 3em;
    width:7em;
    white-space: nowrap;
    }
    
    .animated:before{animation:textCursor 500ms steps(14) infinite normal,
      typewriter 5s steps(20) 1s infinite alternate;
    
    }
    
    
    @keyframes textCursor{
      from{border-color:(255,255,255,.75)}
      to{border-color:transparent}
    }
    
    
    @keyframes typewriter{
      0%{width:0;content:"I'm Graphic Designer"}
      40%{width:8em;content:"I'm Graphic Designer"}
      60%{width:0;content:"I'm Graphic Designer"}
      80%{width:8em;content:"I'm Photographer"}
      100%{width:0;content:"I'm Photographer"}
    }

    .setting
    {
        background-color:rgba(24, 23, 23);
        padding: 8px;
        position: fixed;
        left: 0;
        top: 20%;
    }
    .setting .fas
    {
        font-size: 20px;
    }
    .home .scroll
    {
        position: absolute;
        width: 5px;
        height: 5px;
        bottom: 50px;
        border: 2px solid #fff;
        padding: 20px 12px;
        animation: scroll 2s infinite;
    }

    .home .scroll::after
    {
        content: "";
        position: absolute;
        width: 4px;
        height: 7px;
        bottom: 10px;
        left: 11px;
        background-color: #fff;
    }
    @keyframes scroll{
        25%{bottom: 20px;}
        50%{bottom: 40px;}
        75%{bottom: 50px;}
        100%{bottom: 20px;}

    }
#about
{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.about-icon
{
    font-size: 20px;
    padding: 10px;
    border-width: 3px;
    border-color: gray;
    transition: all 0.5s;
}
.about-icon:hover
{
    color: tomato;
    border-color: tomato;
}
.line
{
    color:#e65f78;
}
#blog
{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.card
{
    border: none;
    text-decoration: none;
}
.cap
{
    text-align: center;
    margin-bottom: 6rem;
}
.card-body a
{
    text-decoration: none;
}
#client 
{
    margin-top: 9rem;
    margin-bottom: 4rem;
    text-align: center;
}
#client i
{
    color:#e65f78;
}
.carousel-indicators .custom
{
    background-color:#e65f78 ;
    width: 16px;
    height: 8px;
}
#contact
{
  text-align: center;
    margin-top: 4rem;
    margin-bottom: 6rem;
}
.coc
{
    color: tomato;
}
.btn
{
    background-color:tomato ;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
}
#portfolio
{
    margin-top: 20rem;
    margin-bottom: 6rem;
}
.head
{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.nav-pills .nav-link.active
{
    background-color: #e65f78;
    border-radius: 30px;
    padding: 6px 16px;
}

.nav-pills .nav-link
{
    border-radius: 30px;
    padding: 6px 16px;
    color: black;
    transition: all 0.5s;
    margin: 0px 8px;
}
.nav-pills .nav-link:hover
{
    background-color: #e65f78;
    color: white;
}
.work-layer
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}
.content
{
    transform: translateY(100%);
    transition: all 0.5s;
}
.item
{
    transition: all 0.5s;
}
.item:hover .work-layer
{
    opacity: 1;
}
.item:hover .content
{
    transform: translateY(0);
}

#break
{
    margin-top: 6rem;
}
#services
{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.conv 
{
    text-align: center;
}
.joe
{
    color: #e65f78 !important;
}